[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/LoveIT"]
	path = themes/LoveIT
	url = https://github.com/dillonzq/LoveIt.git
